#map-container {
    width: 100%;
    height: 100vh;
}

.land {
    fill: none;
    /* stroke: gainsboro; */
}
.overlay {
  fill: none;
  pointer-events: all;
}

/* circle { */
/*     /\* fill: red; *\/ */
/*     r: 1px; */
/* } */

.boundary {
    fill: whitesmoke;
    stroke: white;
    stroke-width: 0.2px;
}

button#resetView {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}