{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js">
    </script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>

</head>

<body>
    {{template "index" .}}
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(38.6270, -90.1994), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIx8zEL5Q8uN2r5kahv9VyADy5xygfrIQ&callback=myMap"></script>

</body>

</html>
{{end}}
