{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cat Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js">
    </script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>

</head>

<body>
{{template "index" .}}

<script>


    function initMap() {
        initMap2()
    }

    function initMap2(){
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 38.6270, lng: -90.1994},
            mapTypeId: 'terrain'
        });
//        var tmp = {{.TrackPoints}}
//        for( i = 0; i < tmp.length; i++ ) {
//           tmp.Elevation
//        }
        var markers =[]
        var bounds = new google.maps.LatLngBounds();
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        var i=0;
        var positions =[]
        {{range $id, $marker := .TrackPoints}}
        var position = new google.maps.LatLng({{.LatLong.Lat}}, {{.LatLong.Lng}});
        bounds.extend(position);
        positions.push(position)
        if(i==0){
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: "{{.Name}}",
                animation:google.maps.Animation.BOUNCE
            });
        }else{
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: "{{.Name}}"
            });
        }

//        https://wrightshq.com/playground/placing-multiple-markers-on-a-google-map-using-api-3/
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoContent = "<h3>On this day</h3>, {{.Time}}, the cat was running {{.Speed}} mph at an elevation of {{.Elevation}} ft"
                infoWindow.setContent(infoContent);
                infoWindow.open(map, marker);
                map.setCenter(marker.getPosition());
            }
        })(marker, i));
        i++

        {{end}}
        var flightPath = new google.maps.Polyline({
            path: positions,
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 2
        });
        flightPath.setMap(map);
        map.fitBounds(bounds);

    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIx8zEL5Q8uN2r5kahv9VyADy5xygfrIQ&callback=initMap">
</script>

<!--{{range $id, $marker := .TrackPoints}}-->
<!--{{.Time}}<br>-->
<!--{{end}}-->

</body>

</html>
{{end}}
