{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cat Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js">
    </script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script src="/ass/cattracks.js" ></script>
    <script type="text/javascript" src="/bower_components/geolocator/dist/geolocator.min.js"></script>
    <script type="text/javascript" src="/ass/cattracks-getgeo.js">
    </script>
     <script src="/ass/markerclusterer.js"></script>

</head>

<body>
  <p id="trackPointsData" style="display: none;">{{.TrackPointsJSON}}</p>
{{template "index" .}}

  <script>

    </script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIx8zEL5Q8uN2r5kahv9VyADy5xygfrIQ&callback=initMap">
</script>

</body>

</html>
{{end}}
