{{define "leaf"}}
<!doctype html>
<html>

<head>
    <title>Many many many Points with D3 and leaflet</title>
    <meta charset="utf-8">
    <link href="/ass/leaf.css" rel="stylesheet" />

</head>

<body>
    <div id="map"></div>
    <div id="tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" />
    </div>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <!-- d3v3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


    <script src="/ass/leaf.js"></script>
</body>

</html>

{{end}}
