{{define "poster"}}


    <!-- just to let you know -->
    <p id="pleasehold"></p>

    <div class="poster-holder">
      <div class="input-group">
        <input id="myLat" class="form-control" name="" type="number" value=""/>
      </div>
      <div class="input-group">
        <input id="myLon" class="form-control" name="" type="number" value=""/>
      </div>

      <select class="form-control" id="myName" name="">
        <option value="jl">jl</option>
        <option value="ia">ia</option>
      </select>
      <button id="submitposter-btn" class="btn btn-primary btn-lg">Post point</button>
      <button id="getgeolocation-btn" class="btn btn-success btn-lg">Locate me</button>
    </div>

    <p class="text-primary">
      Upload a CSV. No headers. "name", "time", "lat", "long"
    </p>
    <form enctype="multipart/form-data" action="/upload" method="post">
      <input type="file" name="uploadfile" />
      <input type="submit" value="upload" />
    </form>


{{end}}
